@model FunWithWeb.Models.Spotify.SearchAll
@{ 
    string artist = Model.query;
    float length = 0;


    foreach (var trk in Model.TrackSearch)
    {
        length += trk.DurationMs;
    }

    length = length / 60000;
}
<h2>Top 10 Recommendations for @artist</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Track Results</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TrackSearch)
            {
                <tr>
                    <td class="trackID" id="@item.Id"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a></td>
                    <td>
                        @foreach (var art in item.Artists)
                        {
                            @Html.ActionLink(art.Name, "Detail", new { id = art.Id })<span> </span>
                        }
                    </td>
                    <td>@Html.ActionLink(item.Album.Name, "AlbumDetail", new { id = item.Album.Id })</td>
                </tr>
            }
        </tbody>
    </table>
<h3>Total length: @length mins</h3>
