@model IEnumerable<SpotifyAPI.Web.Models.FullTrack>
@{ 
    string artist = Model.FirstOrDefault().Artists.FirstOrDefault().Name.ToString();
}
<h2>Top 10 Recommendations for @artist</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Track Results</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="trackID" id="@item.Id"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a></td>
                    <td>
                        @foreach (var art in item.Artists)
                        {
                            @Html.ActionLink(art.Name, "Detail", new { id = art.Id })<span> </span>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Album.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>