@model IEnumerable<SpotifyAPI.Web.Models.FullTrack>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string artist = Model.FirstOrDefault().Artists.FirstOrDefault().Name;
    string topTrack = Model.FirstOrDefault().Id;
    string urlPlay = "https://open.spotify.com/embed?uri=spotify:track:" + topTrack;
}

<h2>Top 10 tracks for @artist</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album)
        </th>
        <th>
            Track Name
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>


        </tr>
    }

</table>

<h3>Open Spotify to play the first track</h3>
<iframe src="@urlPlay"
        frameborder="0" allowtransparency="true"></iframe>

@Html.ActionLink("Index", "Index")

