@model IEnumerable<SpotifyAPI.Web.Models.FullTrack>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string artist = Model.FirstOrDefault().Artists.FirstOrDefault().Name;
    string topTrack = Model.FirstOrDefault().Id;
    string topType = Model.FirstOrDefault().Type;
    string urlPlay = "https://open.spotify.com/embed?uri=spotify:" + topType + ":" + topTrack;
}
<div class="container">
    <div class="col-xs-6">
        <h2>Top 10 tracks for @artist</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Album)</th>
                    <th>Track Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Album.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <h2>Open Spotify to play the first track</h2>
        <div>
            <iframe src="@urlPlay" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
</div>

@Html.ActionLink("Index", "Index")

