@model FunWithWeb.Models.Spotify.SearchAll

<div class="container">
    <div class="col-xs-6">
        @{ 
            if(Model.query == "tempo")
            {
               @Html.Partial("_TempoDetail", Model.TrackSearch);
            }
            else if(Model.query == "album")
            {
                @Html.Partial("_AlbumDetail", Model);
            }
            else
            {
                @Html.Partial("_ArtistDetail", Model.TrackSearch);
            }
        }
        
    </div>
    <div class="col-xs-6">
        <h2>Open your Spotify App to play a track</h2>
        <div id="partView">
            @Html.Partial("_PlayerPane", Model.TrackSearch.FirstOrDefault().Id);
        </div>
    </div>
</div>

@Html.ActionLink("Index", "Index")

@section Scripts {
    <script type="text/javascript">
        $(".trackID").click(function () {
            var val = $(this).attr("id");
            $.ajax({
                url: "/API/PlayerPane",
                type: "GET",
                data: { id: val }
            })
                .done(function (partialViewResult) {
                    $("#partView").html(partialViewResult);
                });
        });
    </script>
}

