@model FunWithWeb.Models.DataTest

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>DataTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.ActionLink(Model.Artist, "Search", "API" , new { id = Model.Artist}, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>

        <dd>
            @Html.ActionLink(Model.Album, "Search", "API", new { id = Model.Album }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackName)
        </dt>

        <dd>
            @Html.ActionLink(Model.TrackName, "Search", "API", new { id = Model.TrackName }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
